#page-4 {
  color: #fff;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: -40px -20px;
    background-color: #040404;
    z-index: -1;
  }

  article {
    flex: 1 0 auto;
    width: calc(100% - 400px);
    q {
      font-size: 36px;
    }

    strong {
      display: block;
      font-size: 26px;
      margin-top: 20px;
      text-align: right;
      &:before {
        content: '– ';
      }
    }
  }

  aside {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: flex-end;

    figure {
      filter: grayscale(1) brightness(0.9);
      margin: 0;
      position: relative;
      width: 400px;

      img {
        &.fett {
          bottom: 0;
          margin: 0 0 -40px;
          position: relative;
          width: 100%;
        }

        &.cap,
        &.glasses {
          position: absolute;
          transition: 3s ease-out;
          transition-property: opacity, transform;
          transform-origin: center center;
          perspective: 1000px;
        }

        &.cap {
          right: 20%;
          top: -8%;
          transform: translate(300%, -400%) rotate(1360deg);
          width: 42%;
        }

        &.glasses {
          right: 17.5%;
          top: 17%;
          transform: translate(300%, 600%) rotate(980deg);
          width: 40%;
        }
      }
    }
  }
}

.slide.current #page-4 {
  .cap {
    transition-delay: 0.5s;
    transform: translate(0) rotate(3deg);
  }

  .glasses {
    transition-delay: 0.3s;
    transform: translate(0) rotate(2deg);
  }
}
