#page-4 {
  align-items: center;
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: -40px -20px;
    background-color: #040404;
    z-index: -1;
  }

  article {
    flex: 1 0 50%;
    font-size: 42px;

    strong {
      display: block;
      font-size: 36px;
      margin-top: 20px;
      text-align: right;
      &:before {
        content: '– ';
      }
    }

    @media (max-width: 1024px) {
      &,
      strong {
        font-size: 4vmax;
      }
    }
  }

  aside {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    margin-top: auto;
    position: relative;

    figure {
      filter: grayscale(1) brightness(0.9);
      margin: 0;
      max-width: 100%;
      position: relative;
      width: 400px;

      img {
        &.fett {
          bottom: 0;
          margin: 40px 0 -50px;
          position: relative;
          width: 100%;
        }

        &.cap,
        &.glasses {
          opacity: 0;
          position: absolute;
          transition-duration: 0.25s, 2s;
          transform-origin: center center;
          transition-property: opacity, transform;
          transition-timing-function: ease-out;
        }

        &.cap {
          right: 20%;
          top: 2%;
          transform: translate(300%, -400%) rotate(1360deg);
          width: 42%;
        }

        &.glasses {
          right: 17.5%;
          top: 25%;
          transform: translate(300%, 600%) rotate(980deg);
          width: 40%;
        }
      }
    }
  }
}

.slide.current #page-4 {
  .cap,
  .glasses {
    opacity: 1;
    transition-duration: 1s, 3s;
  }

  .cap {
    transition-delay: 0.5s;
    transform: translate(0) rotate(4deg);
  }

  .glasses {
    transition-delay: 0.3s;
    transform: translate(0) rotate(2deg);
  }
}
