#page-3 {
  ul.timeline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    position: relative;
    margin: auto 5%;

    li {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      width: 180px;
      text-align: center;

      figure {
        margin: auto;
      }

      strong {
        display: block;
        font-size: 18px;
        margin: 10px 0;
      }
    }
  }
}
